
/* .News{
    background-image: url('/public/assets/images/news/joe-woods-4Zaq5xY5M_c-unsplash.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
} */

/* .img{

    height: 450px;
    width: 600px;
}
.cd{

height: 80px;
width: 500px;
} */

/* .Carousel.Item img{
    max-width: 600px;
    max-height: 450px;
} */